.gradle

# eclipse
.classpath
.project
.settings
.idea
/bin/
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#database

#dumb code
src/main/resources/templates/seeds.html
src/main/java/magazineIndex/viewClasses/SeedsView.java